<interface>


  <rules>
    <traffic chain="INPUT" job="ACCEPT" state="NEW" source="0/0" protocol="tcp" destination="0/0" destination-port="2222"/>
    <traffic chain="INPUT" job="ACCEPT" state="NEW" source="0/0" protocol="tcp" destination="0/0" destination-port="80"/>
    <traffic chain="INPUT" job="ACCEPT" state="NEW" source="0/0" protocol="tcp" destination="0/0" destination-port="21"/>
    <traffic chain="INPUT" job="ACCEPT" state="NEW" source="0/0" protocol="tcp" destination="0/0" destination-port="443"/>
    <traffic chain="INPUT" job="ACCEPT" state="NEW" source="0/0" protocol="tcp" destination="0/0" destination-port="12345"/>
    <traffic chain="INPUT" job="ACCEPT" state="NEW" source="0/0" protocol="udp" destination="0/0" destination-port="1194"/>
    <traffic chain="INPUT" job="ACCEPT" state="NEW" source="0/0" protocol="tcp" destination="0/0" destination-port="5555"/>
  </rules>


  <portforwarding>
  </portforwarding>


  <transproxy>
  </transproxy>


  <logging>
  </logging>

  <allowping>
    <traffic chain="INPUT" job="ACCEPT" protocol="icmp"></traffic>
  </allowping>

  <masquerading>
  </masquerading>


</interface>
