<interface>

  <rules>
    <traffic chain="block" job="ACCEPT" state="NEW"></traffic>	
  </rules>

  <portforwarding>
  </portforwarding>

  <transproxy>
  </transproxy>

  <logging>
  </logging>

  <masquerading>
  </masquerading>

</interface>
